/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#index-banner {
  padding: 25px;
}


.fixed-header {
  position: sticky;
  top:0;
  width: 100%;
  z-index: 9999;
  background: white;
  padding: 10px;
  border: 5px;
  border-bottom-color: teal;
  border-bottom: 5px solid teal;

 } 

.modal .open {
  z-index: 999999 !important;
}

#map {
  margin: 0px !important;
} 

body{
  background-color:#fffae6;
}


nav {
    height: 60px;
}

#image-card, #map-card{
  height: 500px;
}

#card-image{
  height: 75%
}

.ticons{
margin-left: 10px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#carousel{
  height: 400px
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}


td {
  padding: 0px;
}

#logo-img{
 width: 350px;
 margin: 0 auto;
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  nav ul a, nav .brand-logo {
    font-size: 20px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}






